all-puzzles.ascii.txt
all-puzzles.unicode.txt
all-solutions.ascii.txt
all-solutions.unicode.txt
distinct-puzzles.ascii.txt
distinct-puzzles.unicode.txt
distinct-solutions.ascii.txt
distinct-solutions.unicode.txt
