all-puzles.ascii.txt
all-puzles.unicode.txt
all-solutions.ascii.txt
all-solutions.unicode.txt
distinct-puzles.ascii.txt
distinct-puzles.unicode.txt
distinct-solutions.ascii.txt
distinct-solutions.unicode.txt
